<table class="{{widget_classes.status_table}}">
    <thead>
        <tr>
            <th>Etude Name</th>
            <th>Daily Status</th>
            <th>Actions Log</th>
        </tr>
    </thead>
    <tbody>
        {{#etudes}}
        <tr>
            <td><strong>{{name}}</strong></td>
            <td><span class="{{#is_ok}}widget_classes.status_ok{{/is_ok}} {{#is_fail}}widget_classes.status_fail{{/is_fail}} {{#is_warn}}widget_classes.status_warn{{/is_warn}}">{{status}}</span></td>
            <td>
                <ul>
                    {{#actions_log}}
                    <li>{{.}}</li>
                    {{/actions_log}}
                    {{^actions_log}}
                    <li>No actions logged.</li>
                    {{/actions_log}}
                </ul>
            </td>
        </tr>
        {{/etudes}}
        {{^etudes}}
        <tr>
            <td colspan="3" class="placeholder">No daily status data found for any etudes.</td>
        </tr>
        {{/etudes}}
    </tbody>
</table>
